@import "./theme.scss";
@import "../component-styles/page.scss";
@import "../component-styles/header.scss";
@import "../component-styles/news.scss";
@import "../component-styles/cats.scss";

* {
 box-sizing: border-box;
}


html, body {
 margin: 0;
 padding: 0;
}


