@import "./_smui-theme.scss";

$main-color: rgb(210, 223, 92);

// Svelte Colors!
$mdc-theme-primary: #ed9444;
$mdc-theme-secondary: #676778;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: #ff3e00;
