
@import "@material/theme/color-palette";
@import "./_smui-theme.scss";


$main-color: rgba(0, 0, 0, 0.68);

$mdc-theme-primary: #ed9444;
$mdc-theme-secondary: $material-color-cyan-100;
$mdc-theme-background: #000;
$mdc-theme-surface: #fff;
$mdc-theme-error: #ff3e00;

@import "@material/theme/variables";
@import "@material/theme/mdc-theme";
