.top-container {
    display: flex;
    
    .main-logo-container {
        width: 20%;

        &__logo {
            max-height: 10em;
        }
    }

    .header-container {
        flex-grow: 1;
        
        .header {
            height: 46px;
        }
    }

    .upper-header {
        margin-bottom: 10px;
        text-align: right;
       
        &__contacts__item {
            font-size: 12px;
            letter-spacing: 0px;
            color: #565656;
            font-family: "Arial";
            text-align: right;
            text-transform: uppercase;
            display: inline-block;
            line-height: 28px;
            height: 100%;

            & > * {
                vertical-align: middle;
            }

            & > span {
                margin-left: 2px;
            }
    
            &:last-child {
                margin-left: 60px;
                position: relative;
            }
        
        }
    }
    
}
